/* --------------------------------------------------------------------------
	>Base
-------------------------------------------------------------------------- */
html, body { height: 100%; }

html { overflow-y: scroll; }

body { min-width: 100px; background: #ffffff; font-family: "Helvetica Neue", sans-serif; font-size: 24px; line-height: 1.4; color: #000; }

a { cursor: pointer; color: #00b3ee; text-decoration: none; }

a:hover { text-decoration: underline; }

img { border: 0; vertical-align: middle; }

ul, ol { list-style-position: inside; }

/* --------------------------------------------------------------------------
	>header
-------------------------------------------------------------------------- */
.header { background-color: #FCDB00; }

/* --------------------------------------------------------------------------
	>header navbar
-------------------------------------------------------------------------- */
.navbar, .navbar-inverse { border-radius: 0; border: none; margin-bottom: 0; min-height: 80px; background-color: #FCDB00; }

.nav li { display: inline; color: white; }

.navbar-inverse .navbar-nav > li > a { color: #010101; font-family: "PT Sans", sans-serif; font-size: 22px; font-weight: bold; padding: 30px 25px 33px 25px; }

.navbar-inverse .navbar-nav li a:hover { background-color: #010101; transition: 0.7s all linear; height: 100%; }

.main-logo { background-color: #FCDB00; max-width: 170px; padding: 10px; }
.main-logo img { margin: 0 auto; }

.navbar-inverse .navbar-toggle .icon-bar { background-color: #010101; }

.custom-navbar:hover { background-color: #FCDB00 !important; }

.slick-dots { position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); }
.slick-dots li { list-style-type: none; float: left; display: inline-block; margin: 5px; }
.slick-dots li button { font-size: 0px; width: 20px; height: 20px; border-radius: 50%; border-style: none; background-color: #FEED80; }
.slick-dots li button:hover { background-color: #FFFFFF; }

.slick-dots .slick-active button { background-color: #FFFFFF; }

.slick-dots .slick-active button:focus { outline: none; }

.slick { margin-top: 0px !important; }

.description { margin: 0 auto; max-width: 750px; padding-top: 125px; padding-bottom: 80px; }
.description h1 { text-align: center; font-family: "PT Sans", sans-serif; font-size: 32px; font-size: 32px; line-height: 32px; color: #010101; font-weight: bold; }
.description p { font-size: 20px; line-height: 24px; color: #010101; font-family: "PT Sans", sans-serif; text-align: center; }

.banner { background-color: #FCDB00; padding: 60px 0 40px 0; }
.banner .caption h2 { font-size: 32px; line-height: 18px; color: #010101; font-family: "PT Sans", sans-serif; font-weight: bold; padding-bottom: 30px; }
.banner .caption h4 { font-size: 20px; line-height: 24px; color: #313841; font-family: "PT Sans", sans-serif; }
.banner .caption p { font-size: 16px; line-height: 20px; color: #555555; font-family: "PT Sans", sans-serif; }
.banner .caption ul { list-style-type: none; padding: 0px; padding-top: 15px; }
.banner .caption ul li { float: left; }
.banner .caption ul li a { color: #010101; }
.banner .caption ul li i { font-size: 42px; line-height: 20px; padding: 20px 34px 0px 0px; }
.banner .banner-image img { margin: 0 auto; display: block; }

.features { padding-bottom: 50px; }
.features img { float: left; padding-top: 20px; }
.features h2 { display: inline-block; font-size: 22px; line-height: 24px; color: #010101; font-family: "PT Sans", sans-serif; padding-left: 8px; }
.features p { display: inline-block; padding-left: 67px; color: #898989; font-size: 16px; line-height: 20px; font-family: "PT Sans", sans-serif; }

.submit { background-color: #010101; }

.submit-section { max-width: 770px; margin: 0 auto; }
.submit-section h2 { margin-top: 80px; font-size: 32px; line-height: 32px; color: #FCDB00; font-family: "PT Sans", sans-serif; font-weight: bold; text-align: center; }
.submit-section p { padding-top: 15px; font-size: 20px; line-height: 24px; color: #898989; font-family: "PT Sans", sans-serif; text-align: center; }

.social { padding-top: 60px; max-width: 550px; margin: 0 auto; }
.social ul { list-style-type: none; padding-left: 100px; }
.social li:first-child { padding-left: 10px; }
.social li { float: left; margin-left: 15px; margin-right: 10px; padding: 4px; border-radius: 5px; font-size: 42px; line-height: 32px; color: #fcdb00; font-family: "Font Awesome"; text-align: center; background-color: #FCDB00; }
.social li:hover { background-color: #010101; }
.social a { color: #010101; }
.social a:hover { color: #FCDB00; }

.input { max-width: 850px; margin: 0 auto; }
.input input[type=text] { padding: 7px 20px; margin: 24px 10px 25px 50px; display: inline-block; border-radius: 4px; box-sizing: border-box; width: 75%; border: 0px; font-size: 16px; line-height: 20px; }
.input input[type=submit] { background-color: #FCDB00; color: #010101; border-radius: 4px; display: inline-block; padding: 6px 20px; border: 0px; font-size: 16px; line-height: 24px; font-family: "PT Sans", sans-serif; font-weight: bold; }
.input input[type=submit]:hover { background-color: #010101; color: #FCDB00; }
.input input { border-radius: 5px; }
.input ::placeholder { font-size: 16px; line-height: 20px; color: #898989; font-family: "P TSans"; }

/* --------------------------------------------------------------------------
	>footer
-------------------------------------------------------------------------- */
.footer { background-color: #010101; padding-top: 80px; padding-bottom: 130px; }

.contact-address address { font-size: 16px; line-height: 20px; color: #FFFFFF; font-family: "PT Sans", sans-serif; padding-right: 115px; margin-bottom: 45px; }
.contact-address a { font-size: 16px; line-height: 20px; color: #FFFFFF; font-family: "PT Sans", sans-serif; padding-right: 115px; }

.example div { height: 75px; width: 75px; display: inline-block; margin-left: 45px; }
.example div ul { list-style-type: none; }
.example div li { font-size: 16px; line-height: 20px; color: #ffffff; font-family: "PT Sans", sans-serif; }
.example div a { font-size: 16px; line-height: 20px; color: #ffffff; font-family: "PT Sans", sans-serif; }

/* ========================================================================== > Responsive ========================================================================== */
/* ==========================================================================
	#Media - Tablets in landscape
========================================================================== */
/* ==========================================================================
	#Media - Tablets in portrait
========================================================================== */
@media (max-width: 979px) { .main-logo { margin: 0 auto; }
  .navbar-inverse .navbar-nav > li > a { padding: 30px 120px 33px 52px; }
  .features div { padding-bottom: 50px; }
  .features div:last-child { padding-bottom: 0px; } }
/* ==========================================================================
	#Tablets
========================================================================== */
@media (max-width: 780px) { .main-logo { margin: 0 auto; }
  .navbar-inverse .navbar-nav > li > a { padding: 30px 120px 33px 52px; }
  .submit-section { margin: 0 auto; }
  .input { margin: 0 auto; }
  .input input[type=text] { margin: 20px 25px; }
  .social ul { padding-left: 110px; }
  .banner-image { display: none; }
  .caption h2 { text-align: center; }
  .caption h4 { text-align: center; }
  .caption p { text-align: center; }
  .caption ul { text-align: center; margin-left: 260px; }
  .caption ul li { text-align: center; }
  .caption ul li a { text-align: center; }
  .caption ul li i { text-align: center; } }
/* ==========================================================================
	#Phones
========================================================================== */
@media only screen and (max-width: 479px) { .input input[type=text] { margin: 20px 5px; }
  .main-logo { display: inline-block; float: left; }
  .navbar-responsive { display: inline-block; float: right; }
  .header { padding-top: 25px; }
  .navbar-collapse { padding-right: 200px; }
  .navbar-toggle:hover { background-color: #FCDB00; }
  .navbar-toggle { margin-top: 10px; }
  .navbar-border { border-color: #FCDB00 !important; }
  .custom-navbar-nav a { padding: 10px 0px 33px 130px !important; }
  .slick-dots { display: none !important; }
  .caption ul { margin-left: 150px !important; } }
/* ==========================================================================
	#Retina
========================================================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) { /* Retina-specific stuff here */ }

/*# sourceMappingURL=styles.css.map */
