/* ==========================================================================
   > Responsive
   ========================================================================== */

/* ==========================================================================
	#Media - Tablets in landscape
========================================================================== */
@media (max-width: 1024px) {

}

/* ==========================================================================
	#Media - Tablets in portrait
========================================================================== */
@media (max-width: 979px) {
  .main-logo {
    margin: 0 auto;

  }

  .navbar-inverse .navbar-nav > li > a {
    padding: 30px 120px 33px 52px;

  }

  .features {
    div {
      padding-bottom: 50px;
    }
    div:last-child {
      padding-bottom: 0px;
    }
  }
}

/* ==========================================================================
	#Tablets
========================================================================== */
@media (max-width: 780px) {
  .main-logo {
    margin: 0 auto;

  }

  .navbar-inverse .navbar-nav > li > a {
    padding: 30px 120px 33px 52px;

  }

  .submit-section {

    margin: 0 auto;
  }
  .input {

    margin: 0 auto;
  }


  .input input[type=text] {
    //width: 100%;
    //display: block;
    margin: 20px 25px;
  }
  .input input[type=submit] {
    //width: 100%;
    //display: block;

  }
  .social ul {
    padding-left: 110px;
  }
  .banner-image{
    display: none;
  }
  //.custom-navbar-header{
  //  display: inline-block;
  //  float: right;
  //}

  .caption{
    h2{
      text-align: center;
    }
    h4{

      text-align: center;
    }
    p{
      text-align: center;
    }
    ul{
      text-align: center;
      margin-left: 260px;
      li{
        text-align: center;
      }
      li a{
        text-align: center;
      }
      li i{
        text-align: center;
      }
    }
  }





}



/* ==========================================================================
	#Phones
========================================================================== */
@media only screen and (max-width: 479px) {
  .input input[type=text] {
    //width: 100%;
    //display: block;
    margin: 20px 5px;
  }
  .main-logo{
    display: inline-block;
    float: left;
  }
  .navbar-responsive{
    display: inline-block;
    float: right;
  }
  .header {
    padding-top: 25px;
  }
  .navbar-collapse {
    padding-right: 200px;
  }
  .navbar-toggle:hover {
    background-color: $Yellow;
  }
  .navbar-toggle{
    margin-top: 10px;
  }
  .custom-navbar{
    //border: none;
  }
  .navbar-border{
    border-color: $Yellow !important;
  }
  .custom-navbar-nav{
    a{
      padding: 10px 0px 33px 130px !important;
    }

}
  .slick-dots{
    display: none !important;
  }
.caption{
  ul{
    margin-left: 150px !important;
  }

}
}

/* ==========================================================================
	#Retina
========================================================================== */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  /* Retina-specific stuff here */
}