/* --------------------------------------------------------------------------
	>Base
-------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

html {
  overflow-y: scroll;
}
body {
  min-width: 100px;
  background: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: #000;
}

a {
  cursor: pointer;
  color: #00b3ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
}

p {
}

/* --------------------------------------------------------------------------
	>header
-------------------------------------------------------------------------- */
.header{
  background-color:$Yellow ;
  //padding-top: 50px;
}


/* --------------------------------------------------------------------------
	>header navbar
-------------------------------------------------------------------------- */

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  background-color: $Yellow;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-inverse .navbar-nav > li > a {
  color: $Black;
  font-family: $base-font;
  font-size: 22px;
  font-weight: bold;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  background-color: $Black;
  transition: 0.7s all linear;
  height: 100%;
}
.main-logo{
  background-color: $Yellow;
  max-width: 170px;
  padding: 10px;
  img{
    margin: 0 auto;
  }
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: $Black;
}

.custom-navbar:hover{
  background-color: $Yellow !important;
}




.slick-dots{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  li{
    list-style-type: none;
    float: left;
    display: inline-block;
    margin: 5px;
    button{
      font-size: 0px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border-style: none;
      background-color: $Kournikova;
    }
    button:hover{
      background-color:$White;

    }


  }


}
.slick-dots .slick-active button{
  background-color: $White;
}
.slick-dots .slick-active button:focus{
  outline: none;

}
.slick{
  margin-top: 0px !important;
}

.description{
  margin: 0 auto;
  max-width: 750px;
  padding-top: 125px;
  padding-bottom: 80px;
  h1{
    text-align: center;
    font-family: $base-font;
    font-size: 32px;
    font-size: 32px;
    line-height: 32px;
    color: $Black;
    font-weight: bold;
  }
  p{

    font-size: 20px;
    line-height: 24px;
    color: $Black;
    font-family:$base-font;
    text-align: center;
  }

}

.banner{
  background-color: $Yellow;
  padding: 60px 0 40px 0;
  .caption{
    h2{
      font-size: 32px;
      line-height: 18px;
      color: $Black;
      font-family: $base-font;
      font-weight: bold;
      padding-bottom: 30px;
    }
    h4{

      font-size: 20px;
      line-height: 24px;
      color: #313841;
      font-family: $base-font;
    }
    p{
      font-size: 16px;
      line-height: 20px;
      color: #555555;
      font-family: $base-font;
    }
    ul{
      list-style-type: none;
      padding: 0px;
      padding-top: 15px;
      li{
        float: left;
      }
      li a{
        color: $Black;
      }
      li i{
        font-size: 42px;
        line-height: 20px;
        padding: 20px 34px 0px 0px;
      }
    }
  }

  .banner-image img{
    margin: 0 auto;
    display: block;
  }
}

.features{

  padding-bottom: 50px;
  img{
    float: left;
    padding-top: 20px;
  }
  h2{
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    color: $Black;
    font-family: $base-font;
    padding-left: 8px;
  }
  p{
    display: inline-block;
    padding-left: 67px;
    color: $Gray;
    font-size: 16px;
    line-height: 20px;
    font-family: $base-font;
  }
}


.submit{
  background-color: $Black;

}
.submit-section{
  max-width: 770px;
  margin: 0 auto;
  h2{
    margin-top: 80px;
    font-size: 32px;
    line-height: 32px;
    color: $Yellow;
    font-family: $base-font;
    font-weight: bold;
    text-align: center;
  }
  p{
    padding-top: 15px;
    font-size: 20px;
    line-height: 24px;
    color: $Gray;
    font-family: $base-font;
    text-align: center;
  }
}

.social{
  padding-top: 60px;
  max-width: 550px;
  margin: 0 auto;
  ul{
    list-style-type: none;
    padding-left: 100px;

  }
  li:first-child{
    padding-left: 10px;
  }
  li{
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    padding: 4px;
    border-radius: 5px;


    font-size: 42px;
    line-height: 32px;
    color: #fcdb00;
    font-family: "Font Awesome";
    text-align: center;
    background-color: $Yellow;

  }
  li:hover{
    background-color: $Black;
  }
  a{
    color: $Black;
  }
  a:hover{
    color: $Yellow;
  }
}

.input{
    max-width: 850px;
    margin: 0 auto;
  input[type=text]{
    padding: 7px 20px;
    margin: 24px 10px 25px 50px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    width: 75%;
    border: 0px;
    font-size: 16px;
    line-height: 20px;
  }
  input[type=submit]{
    background-color: $Yellow;
    color: $Black;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 20px;
    border: 0px;
    font-size: 16px;
    line-height: 24px;
    font-family: $base-font;
    font-weight: bold;
  }
  input[type=submit]:hover{
    background-color: $Black;
    color: $Yellow;
  }
  input{
    border-radius: 5px;
  }
  ::placeholder{
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    font-family: "P TSans";
  }


}

/* --------------------------------------------------------------------------
	>footer
-------------------------------------------------------------------------- */

.footer{
  background-color: $Black;
  padding-top: 80px;
  padding-bottom: 130px;
}

.contact-address{
  address{
    font-size: 16px;
    line-height: 20px;
    color: $White;
    font-family: $base-font;
    padding-right: 115px;
    margin-bottom: 45px;
  }
  a{
    font-size: 16px;
    line-height: 20px;
    color: $White;
    font-family: $base-font;
    padding-right: 115px;
  }
}

.example{
  div{
    height: 75px;
    width: 75px;
    display: inline-block;
    margin-left: 45px;
    ul{
      list-style-type: none;
    }
    li{
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      font-family: $base-font;
    }
    a{
      font-size: 16px;
      line-height: 20px;
      color: #ffffff;
      font-family: $base-font;
    }
  }

}